
mixin section(color)
	section.grow.flex(style= 'background: ' + color)
		.content.center: block


mixin use1(name, url)
	div: +link(name, url)

mixin use1s(name, url)
	+use1('<s>' + name + '</s>', url)

mixin use2(name, url, name2, url2)
	div
		+link(name, url)
		span &nbsp;&#8594;&nbsp;
		+link(name2, url2)

mixin use2s(name, url, name2, url2)
	+use2('<s>' + name + '</s>', url, name2, url2)


mixin link(name, url)
	a(href=url, target="_blank")!=name


- var getPost = function(ref) {
-	return posts.filter(function(post) {
-		return post.ref == ref
-	})[0]
- }

mixin post(ref)
	extends ../_html.jade
	block head: title= getPost(ref).title
	block body
		article: block
