mixin section(title, color)
	section(style= 'background: ' + color)
		.section.content-width
			.title= title
			block


- var getPost = function(ref) {
-	return posts.filter(function(post) {
-		return post.ref == ref
-	})[0]
- }

mixin post(ref)
	extends ../_html.jade
	block head: title= getPost(ref).title
	block body
		article: block
