include _mixins.jade
extends ../_html.jade
block head
	title Taras Serdyuk
	link(rel="stylesheet", href="style.css")
block body
	main.absolute.v-flex.full-size
		header.fixed.full-width.grey: .content
		header: .content
		+section("#8BBECC") I am Taras Serdyuk
		+section("#61DEFF") And this is my website
		+section("#AEEEFF") More stuff coming soon...
		footer.grey: .content
	.overlay.fixed.flex.full-size
		aside.grow
		.content
		aside.grow
	script(src="colors.js")
