include _mixins.jade
extends ../_html.jade
block head
	title Taras Serdyuk
	link(rel="stylesheet", href="style.css")
block body
	main.absolute.v-flex.full-size
		header.fixed.full-width.grey: .content
		header: .content
		+section("#8BBECC"): .large I am Taras Serdyuk
		+section("#61DEFF"): .large And this is my website
		+section
			h1 Things I Use
			div
				+use2("AngularJS", "https://angularjs.org/", "React", "https://facebook.github.io/react/")
				+use1("BrowserStack", "https://www.browserstack.com/")
				+use1("DigitalOcean", "https://www.digitalocean.com/")
				+use1s("Eclipse", "https://eclipse.org/")
				+use1s("Flex", "http://flex.apache.org/")
				+use2s("Flux", "https://facebook.github.io/flux/", "Dependency Injection", "https://en.wikipedia.org/wiki/Dependency_injection")
				+use2("Git", "https://git-scm.com/", "Mercurial", "https://www.mercurial-scm.org/")
				+use2("Gulp", "http://gulpjs.com/", "Ferad", "https://github.com/tserdyuk/ferad")
				+use1("Haskell", "https://www.haskell.org/")
				+use1s("Intellij IDEA", "https://www.jetbrains.com/idea/")
				+use1("Jade", "http://jade-lang.com/")
				+use2("JavaScript", "https://en.wikipedia.org/wiki/JavaScript", "ECMAScript 6 with Babel", "http://kangax.github.io/compat-table/es6/#babel")
				+use1("nginx", "http://nginx.org/")
				+use1("Node.js", "https://nodejs.org/")
				+use1("Mocha", "https://mochajs.org/")
				+use1("MongoDB", "https://www.mongodb.org/")
				+use1("{{ mustache }}", "https://mustache.github.io/")
				+use1("Papertrail", "https://papertrailapp.com/")
				+use1("Parse", "https://parse.com/")
				+use1s("Perl", "https://www.perl.org/")
				+use1("rsync", "https://rsync.samba.org/")
				+use1("Scala", "http://scala-lang.org/")
				+use2("SCSS", "http://sass-lang.com/", "Sass", "http://sass-lang.com/documentation/file.INDENTED_SYNTAX.html")
				+use2s("Sublime Text", "http://www.sublimetext.com/", "Atom", "https://atom.io/")
				+use1("Webdriver", "http://www.seleniumhq.org/projects/webdriver/")
				+use2s("Windows", "https://en.wikipedia.org/wiki/Windows_7", "Ubuntu", "http://www.ubuntu.com/desktop")
		+section("#AEEEFF"): .large More stuff coming soon...
		footer.grey: .content
	.overlay.fixed.flex.full-size
		aside.grow
		.content
		aside.grow
	script(src="colors.js")
