include _mixins.jade
extends ../_html.jade
block head
	title Taras Serdyuk
	link(rel="stylesheet", href="style.css")
block body
	main
		header: .header.content-width Taras Serdyuk - Full-Stack Developer
		.header-space
		+section("About Me", "#8BBECC")
			include _info/lorem.jade
		+section("Featured Projects", "#61DEFF")
			include _info/lorem.jade
		+section("Blog", "#AEEEFF")
			nav: ul: each post in taras.posts
				li: a(href= 'blog/'+ post.ref +'.html')= post.title
		+section("Contacts", "#316F7F")
			include _info/lorem.jade
		footer: .footer.content-width Footer
	.overlay
		aside.grow
		.content-width
		aside.grow
	script(src="colors.js")
