
$header-height: 30px
$content-margin: 20px

body, ul
	margin: 0

main
	padding-top: $header-height

header
	top: 0
	position: fixed
	background: grey
	width: 100%

.header
	height: $header-height
	line-height: $header-height
	padding: 0 $content-margin 0 $content-margin

.section, .header, .footer
	background: rgba(255, 255, 255, 0.2)
	box-sizing: border-box
	max-width: 800px
	margin: 0 auto

.section
	padding: $content-margin

.title
	font-weight: bold
	text-align: center
