
$header-height: 30px
$content-margin: 20px
$content-width: 800px
$content-max-width: 960px

body, ul
	margin: 0

main
	position: absolute
	display: flex
	flex-direction: column
	height: 100%
	width: 100%

.header-space
	min-height: $header-height

.grow
	flex-grow: 1

header, .overlay
	top: 0
	position: fixed
	width: 100%

header, footer
	background: grey

.header, .footer
	height: $header-height
	line-height: $header-height
	padding: 0 $content-margin 0 $content-margin

.section, .header, .footer
	box-sizing: border-box
	margin: 0 auto

.section
	padding: $content-margin

.overlay
	pointer-events: none
	display: flex
	height: 100%

aside
	background: rgba(0, 0, 0, 0.15)

.title
	font-weight: bold
	text-align: center

.content-width
	width: 100%
	max-width: $content-width

@media screen and (max-width: $content-max-width)
	.content-width
		max-width: $content-max-width
