
body, ul
	margin: 0

main
	padding-top: 20px

header
	top: 0
	position: fixed
	background: grey
	width: 100%

.header
	height: 30px
	line-height: 30px
	padding: 0 20px 0 20px

.section, .header, .footer
	background: rgba(255, 255, 255, 0.2)
	box-sizing: border-box
	max-width: 800px
	margin: 0 auto

.section
	padding: 20px

.title
	font-weight: bold
	text-align: center
